git+https://github.com/kberezuck/restclient.git
git+https://github.com/kberezuck/orm_client.git
git+https://github.com/kberezuck/db_client.git
git+https://github.com/kberezuck/dm_api_account.git
requests
pytest
structlog
curlify
pydantic
pyhamcrest
sqlalchemy
sqlacodegen
allure-pytest
